
body {
      background-color: #BCA4EB ;  
}

header{
    background-color:#978D8D;
    color: #000000 ;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}
        
#titulo{
    background-color: #FFFFFF;
    color:  #FFFFFF;
    margin: 15px 0px;
    font-size: 3em;
    letter-spacing: .3rem;
    text-shadow: 5px 1px 5px rgb(52, 84, 70); 
}

.Seccion{
    background-color:#F04890 ;
    color: #fff;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px; 
}

#menuPrincipal {
    background-color:#EB807B ;
    padding: 15px;
}
            
#menuPrincipal ul{
    list-style: none;
    padding: 0px;
}

#menuPrincipal li{
    display: inline;
    margin: 0px 15px;
    border: solid;
    border-color: rgb(223, 125, 125) 16;
    border-radius: 4px;
    padding:15px ;
    font-weight: bold;
}

#menuPrincipal li:hover{
    background-color: rgb(51, 21, 21);
    border: solid;
    border-color: rgb(189, 77, 77);
    border-radius: 4px;
    padding:15px ;
}

.enlaceMenuPrincipal{
    text-decoration: none;
    color:#9AEB75;
    padding: 10px 20px;  
}
    
#formulario{
    text-align: justify;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    background-image: url("../");
    background-repeat: no-repeat;
    background-size: cover; 
}

#Texto{ 
    width: 100%;
    margin-bottom: 10px
}

footer{
    background-color:#C2AFEB ;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.enlaces ul{
    list-style: none;
    padding: 0px;
}
    
.enlaces li{
    display: inline-block;
    margin-right:10px;
    color:#D4EA95 ;
    font-weight: bold;
}
    
.enlaces a {
    color: rgb(145, 81, 81);
    text-decoration: none;
}

.enlaces a:hover {
    color: #abc9c5;
}

    
        
